.container {
    width: 100vw;
}

.content {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    background-color: yellowgreen;
    padding-top: 4.5rem;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0;
    background-color: steelblue;
    padding-top: 2rem;
}

@media screen and (max-width: 950px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

.carroussel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-color: steelblue;
}