.container{
    width: 100vw;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.content{
    background-color: blue;
    max-width: 80rem;
    width: 100%;
}
.top{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    background-color: green;
    height: 3rem;
}
.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
}
.find{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
.options{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
.bot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 1.5rem;
}
.nav{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
}